<div class="row">
  <div class="col-4">

    <div class="list-group">
      <a (click)="activarSonido(1)" class="list-group-item list-group-item-action " style="background-color: red"></a>
      <a (click)="activarSonido(2)" class="list-group-item list-group-item-action "
        style="background-color: orange "></a>
      <a (click)="activarSonido(3)" class="list-group-item list-group-item-action "
        style="background-color: yellow"></a>
      <a (click)="activarSonido(4)" class="list-group-item list-group-item-action " style="background-color: green"></a>
      <a (click)="activarSonido(5)" class="list-group-item list-group-item-action " style="background-color: teal"></a>
      <a (click)="activarSonido(6)" class="list-group-item list-group-item-action " style="background-color: blue"></a>
      <a (click)="activarSonido(7)" class="list-group-item list-group-item-action "
        style="background-color: purple"></a>
    </div>

  </div>
</div>



<!-- <audio controls>
  <source src="../assets/sonidos/note2.wav" type="audio/wav">
</audio> -->
